FLASK_SECRET_KEY=replace-me
SCANNER_IMAGE=owadbell/scanner-workbench:latest
SCANNER_PORT=8000
SCANNER_DATA_DIR=./data
SCANNER_TESTING=false
SCANNER_TEST_DELAY=0
SCANNER_API_URL=
SCANNER_API_TIMEOUT=10
